<details>
      <summary>
        <h4 style="display: inline">{{actor.name}} Rolled For {{stat}}</h4>
      </summary>
      </br>
      <div><b>Roll Type:</b> {{type}}</div>
      </br>
      <div style="border-bottom: 2px solid black; margin-bottom: 3px;">Results:</div>
      <div style="display: flex; justify-content: space-between; width: 150px">
        <div style"width: 75px"><b>{{stat}}:</b></div>
        <div> {{result}}</div>
      </div>
</details>