<details>
      <summary>
        <h4 style="display: inline">{{actor.name}} Rolled For {{stat}}</h4>
      </summary>
      </br>
      <div><b>{{localize "osr-character-builder.rolLType"}}:</b> {{type}}</div>
      </br>
      <div style="border-bottom: 2px solid black; margin-bottom: 3px;">{{localize "osr-character-builder.results"}}:</div>
      <div style="display: flex; justify-content: space-between; width: 150px">
        <div style="width: 75px"><b>{{stat}}:</b></div>
        <div> {{result}}</div>
      </div>
</details>