<details>
  
  <summary>
    <h4 style="display: inline">{{user.name}} Rolled Stats For {{actor.name}}</h4>
  </summary>
  </br>
  <div><b>Roll Type:</b> {{type}}</div>
  </br>
  <div style="border-bottom: 2px solid black; margin-bottom: 3px;">Results:</div>
  <div style="display: flex; justify-content: space-between; width: 150px">
    <div style"width: 75px"><b>Str:</b></div>
    <div> {{stats.str.value}}</div>
  </div>
  <div style="display: flex; justify-content: space-between; width: 150px">
    <div style"width: 75px"><b>Int:</b></div>
    <div> {{stats.int.value}}</div>
  </div>
  <div style="display: flex; justify-content: space-between; width: 150px">
    <div style"width: 75px"><b>Wis:</b></div>
    <div> {{stats.wis.value}}</div>
  </div>
  <div style="display: flex; justify-content: space-between; width: 150px">
    <div style"width: 75px"><b>Dex:</b></div>
    <div> {{stats.dex.value}}</div>
  </div>
  <div style="display: flex; justify-content: space-between; width: 150px">
    <div style"width: 75px"><b>Con:</b></div>
    <div> {{stats.con.value}}</div>
  </div>
  <div style="display: flex; justify-content: space-between; width: 150px">
    <div style"width: 75px"><b>Cha:</b></div>
    <div> {{stats.cha.value}}</div>
  </div>
  </details>