<details>
  
  <summary>
    <h4 style="display: inline">{{user.name}} {{localize "osr-character-builder.rolledStats"}} {{actor.name}}</h4>
  </summary>
  </br>
  <div><b>{{localize "osr-character-builder.rolLType"}}:</b> {{type}}</div>
  </br>
  <div style="border-bottom: 2px solid black; margin-bottom: 3px;">{{localize "osr-character-builder.results"}}:</div>
  <div style="display: flex; justify-content: space-between; width: 150px">
    <div style"width: 75px"><b>{{localize "osr-character-builder.formStr"}}:</b></div>
    <div> {{stats.str.value}}</div>
  </div>
  <div style="display: flex; justify-content: space-between; width: 150px">
    <div style"width: 75px"><b>{{localize "osr-character-builder.formInt"}}:</b></div>
    <div> {{stats.int.value}}</div>
  </div>
  <div style="display: flex; justify-content: space-between; width: 150px">
    <div style"width: 75px"><b>{{localize "osr-character-builder.formWis"}}:</b></div>
    <div> {{stats.wis.value}}</div>
  </div>
  <div style="display: flex; justify-content: space-between; width: 150px">
    <div style"width: 75px"><b>{{localize "osr-character-builder.formDex"}}:</b></div>
    <div> {{stats.dex.value}}</div>
  </div>
  <div style="display: flex; justify-content: space-between; width: 150px">
    <div style"width: 75px"><b>{{localize "osr-character-builder.formCon"}}:</b></div>
    <div> {{stats.con.value}}</div>
  </div>
  <div style="display: flex; justify-content: space-between; width: 150px">
    <div style"width: 75px"><b>{{localize "osr-character-builder.formCha"}}:</b></div>
    <div> {{stats.cha.value}}</div>
  </div>
  </details>